@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.header{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
}
.logo img{
    width: 150px;
    margin: 40px 0 0 40px;
}
main{
    height: 100vh;
    background: url(../images/bg-desktop.svg) center center no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    

}
.section-container{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.div-imagem{
width: 600px;

}
.div-imagem img{
    width: 100%;
}
.informacoes{
    font-family: 'Open Sans', sans-serif;
    width: 500px;
    padding: 10px;
    color: #ffffff;
}
.informacoes h2{
    width: 90%;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
.informacoes p{
    width: 460px;
}
.botao{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    transition: 0.3s;
    color: hsl(257, 40%, 49%);
}
.botao:hover{
    background-color: hsl(300, 69%, 71%);
    color: #ffffff;
    cursor: pointer;
}
.icons{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}
.icons i{
    margin: 0 10px;
    font-size: 30px;
    color: #ffffff;
    border-radius: 50%;
    border-style: solid;
    border-color: #ffffff;
    border: 2px; 
    transition: 0.5s;
}
.icons i:hover{
    transform: scale(1.1);
    cursor: pointer;
}
